<div class="About">
  <%= link_to "About", '/about_us'%>
</div>

<div class="Artistes">
  <%= link_to "Artistes", '/artistes'%>
</div>

<div class="Events">
  <%= link_to "Events", '/events'%>
</div>
